
.container{
  height: 60px;
  background-color: #1dc28d;
  padding: 15px 0px;
}
.wrapper{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper a{
  color: #242c50;
  text-decoration: none;
}
.left{
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
  font-size: 40px;
  
}

.center{
  flex: 1;
  display: flex;
  align-items: center;
  color: #242c50;
}
.centermenu{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.content{
  text-align: center;
  margin-top: 10%;
}

.logincontainer{
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://https://www.color-meanings.com/wp-content/uploads/2022/02/Purple-smoke-on-black-background.jpeg") center ; */
  background-color: #242c50;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginwrapper{
  width: 25%;
  padding: 20px;
  background-color: #1dc28d;
}

.logintitle{
  color:#242c50;
  font-size: 24px;
  font-weight: 300;
}
.logincontainer form{
  display: flex;
  flex-direction: column;
}
.logininput{
  flex: 1;
  min-width: 40%;
  margin: 10px 0px;
  padding: 10px;
}
.logincontainer button{
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: white;
  color: #242c50;
  cursor: pointer;
  margin-bottom: 10px;
}
.sliderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: #242c50;
  /* overflow: hidden; */
  /* background-color: #242c50; */
}
.arrow{
  width: 50px;
  height: 50px;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}
.sliderWrapper{
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
 
}
.slide{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #f5fafd; */
}
.slideImgContainer{
  height: 90%;
  flex: 1;
}
.slideImgContainer img{
  height: 75%;
}
.sliderInfo{
  flex: 1;
  padding: 50px;
  color: #1dc28d;
}
.sliderInfo h1{
  font-size: 70px;
  /* color: white; */
}
.sliderInfo p{
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}
.sliderInfo button{
  padding: 10px;
  font-size: 20px;
  color: #1dc28d;
  background-color: transparent;
  cursor: pointer;
}


/* .sliderContainer img{
  background-size: cover;
  background-position: center;
  height: 90%;
  width: 95%;
} */

.footercontainer{
  display: flex;
  background-color: #1dc28d;
  color: #242c50;
}
.footerLeft{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footerDesc{
  margin: 20px 0px;
}
.socialContainer{
  display: flex;
}

.facebook, .ins, .twitter{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.facebook{
  background-color: #3B5999;
}
.ins {
  background-color: #E4405F;
}
.twitter{
  background-color: #55ACEE;
}
.footerCenter{
  flex: 1;
  padding: 20px;
}
.footerCenter h1{
  margin-bottom: 30px;
}
.footerLinks{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.linkitem{
  width: 50%;
  margin-bottom: 10px;
}
.footerRight{
  flex: 1;
  padding: 20px;
}
.contactItem{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.groups{
  margin: auto;
  width: 40%;
  border-width: 3px;
  border-style: solid;
  border-color: #0b0d18;
  padding: 5px;
}

.groups:hover{
  background-color: #26b510;
}

.payment{
  background-color: #242c50;;
}
.paymentcontainer{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
}
.paymenttitle{
  text-align: center;
  margin-bottom: 30px;
}
.paymentcontainer button{
  width: 100%;
  border: none;
  padding: 15px 20px;
  background-color: #1dc28d;
  color: #242c50;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentwrapper{
  margin-top: -200px;
  width: 50%;
  padding: 20px;
  background-color: white;

}

.paymenttitle{
  font-size: 24px;
  font-weight: 300;
}


.paymentMenuContainer{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0b0d18;

}
/* .paymentmenu{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .paymentForm{
  border: 1px solid black;
} */


.paymentInfoForm{
  height: 100px;
  /* border: 1px solid #0b0d18; */
}
.payments{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0b0d18;
}
.paymentInfoForm :hover{
  background-color: #1dc28d;
}
.paymentInfoFormPayment, .paymentMenuItem{
  flex: 1;
}