.container{
  height: 60px;
}
.wrapper{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper a{
  color: black;
  text-decoration: none;
}
.left{
  flex: 1;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
  font-size: 40px;
}
.center{
  flex: 1;
  display: flex;
  align-items: center;
}
.centermenu{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}
.content{
  text-align: center;
  margin-top: 10%;
}

.logincontainer{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Color_icon_purple_v2.svg/800px-Color_icon_purple_v2.svg.png") center ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
